<!DOCTYPE html>
<html>
  <head>
    <title>Socket.IO - trybe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/login.css">
    <link rel="stylesheet" href="./css/chat.css">
  </head>
  <body>
    <div class="login-page">
      <div class="nickname">
        <form class="login-form" action="">
          <input type="text" placeholder="nickname" name="nickname" />
          <button>Entrar na sala</button>
        </form>
      </div>
    </div>
    <div class="message">
      <ul id="messages"></ul>
      <form action="">
        <input id="messageInput" placeholder="message" autocomplete="off" />
        <button>Send</button>
      </form>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src='./js/chat.js'></script>
  </body>
</html>