<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src='http://localhost:3000/socket.io/socket.io.js'></script>
  <title>WebChat</title>
</head>

<body>
  WebChat
  <div data-testid="online-user" id="new-user"></div>
  <ul id=users-online></ul>
  <form id="messageInfo">
    <button type="button" data-testid="nickname-button" id="nick-button">Mudar nome</button>
    <input type="text" placeholder="Digite seu nome" id="nickname" data-testid="nickname-box" />
    <input type="text" placeholder="Digite sua mensagem" id="messageInput" data-testid="message-box" />
    <button type="submit" id="send" data-testid="send-button">Enviar mensagem</button>
  </form>
  <ul id="messages" data-testid="message-box">
    <% messages.forEach(({timestamp, nickname, message})=> { %>
      <li data-testid="message">
        <%= `${timestamp} - ${nickname}: ${message}` %>
      </li>
      <% }) %>
  </ul>

  <script>
    const socket = io('http://localhost:3000');
    const sendButton = document.getElementById('send');
    const nickButton = document.getElementById('nick-button');
    const nicknameInput = document.getElementById('nickname');
    const newUser = document.getElementById('new-user')
    const usersOnline = document.getElementById('users-online');

    function makeid(length) {
      let result = '';
      let characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
      let charactersLength = characters.length;
      for (let i = 0; i < length; i++) {
        result += characters.charAt(Math.floor(Math.random() *
          charactersLength));
      }
      return result;
    }

    sendButton.addEventListener('click', (event) => {
      event.preventDefault();
      const messageAuthor = document.getElementById('nickname').value;
      const messageText = document.getElementById('messageInput').value;
      const chatMessage = messageText
      const nickname = messageAuthor
      if (messageAuthor.length > 0 && messageText.length > 0) {
        socket.emit('message', { chatMessage, nickname })
      }
    });

    nickButton.addEventListener('click', (event) => {
      event.preventDefault();
      const author = document.getElementById('nickname');
      newUser.innerText = author.value
    })

    socket.on('connect', () => {
      const messageAuthor = document.getElementById('nickname');
      messageAuthor.value = makeid(16);
      newUser.innerText = messageAuthor.value
      const nick = newUser.innerText;
      socket.emit('newuser', { nick, id: socket.id });
    });

    socket.on('disconnect', () => {
      socket.emit('offline', { nick: newUser.innerText, id: socket.id });
    })

    socket.on('message', (message) => {
      const messagesDiv = document.getElementById('messages')
      const li = document.createElement('li');
      li.setAttribute('data-testid', 'message')
      li.innerText = message;
      messagesDiv.appendChild(li);
    });

    socket.on('usersonline', (data) => {
      for(let i = 0; i < usersOnline.childNodes.length; i += 1) {
        usersOnline.removeChild(usersOnline.childNodes[i]);
      }

      data.forEach((el) => {
        if (el.nick === newUser.innerText) return null;
        const div = document.createElement('div');
        div.innerText = el.nick;
        div.setAttribute('data-testid', 'online-user')
        usersOnline.appendChild(div);
      })
    })
  </script>
</body>

</html>