<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/chat.css">
  <title>Socket.IO</title>
</head>
<body>
  <main>
    <div>
      <form id="nickname-form" action="">
        <input 
          id="nickname-box" 
          data-testid="nickname-box" 
          autocomplete="off" 
          placeholder="Como gostaria de ser chamado?" 
          value="" 
        />
        <button type="submit" data-testid="nickname-button">SALVAR</button>
      </form>
    </div>

    <section>
      <div>Usuários online</div>
        <div>
          <ul id="online-users-list"></ul>
        </div>
    </section>

    <section>
      <div>Mensagens</div>
      <ul id="messages"></ul>
    </section>
    <div>    
    <form id="message-form" action="">
      <input 
        type="text" 
        data-testid="message-box" 
        id="message-box" 
        autocomplete="off" 
        placeholder="Escreva sua mensagem" 
      />
      <button type="submit" data-testid="send-button">ENVIAR</button>
    </form>
    </div>
  </main>

      <script src="/socket.io/socket.io.js"></script>
      <script src='./js/chat.js'></script>
  </body>

</html>