<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src='http://localhost:3000/socket.io/socket.io.js'></script>
  <title>WebChat</title>
</head>

<body>
  WebChat
  <span data-testid="online-user" id="new-user"></span>
  <form id="messageInfo">
    <button type="button" data-testid="nickname-button" id="nick-button">Mudar nome</button>
    <input type="text" placeholder="Digite seu nome" id="nickname" data-testid="nickname-box" />
    <input type="text" placeholder="Digite sua mensagem" id="message" data-testid="message-box" />
    <button type="submit" id="send" data-testid="send-button">Enviar mensagem</button>
  </form>
  <ul id="messages" data-testid="message-box">
    <% messages.forEach((message)=> { %>
      <li>
        <%= `${message}` %>
      </li>
      <% }) %>
  </ul>

  <script>
    const socket = io('http://localhost:3000');
    const sendButton = document.getElementById('send');
    const nickButton = document.getElementById('nick-button');
    const nicknameInput = document.getElementById('nickname');
    const newUser = document.getElementById('new-user')

    function makeid(length) {
        let result = '';
        let characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
        let charactersLength = characters.length;
        for (let i = 0; i < length; i++) {
          result += characters.charAt(Math.floor(Math.random() *
            charactersLength));
        }
        return result;
      }

    sendButton.addEventListener('click', (event) => {
      event.preventDefault();
      const messageAuthor = document.getElementById('nickname').value;
      const messageText = document.getElementById('message').value;
      const chatMessage = messageText
      const nickname = messageAuthor
      if (messageAuthor.length > 0 && messageText.length > 0) {
        socket.emit('message', { chatMessage, nickname })
      }
    });

    nickButton.addEventListener('click', (event) => {
      event.preventDefault();
      const author = document.getElementById('nickname');
      author.value = makeid(16);
      newUser.innerText = author.value
    })

    nicknameInput.addEventListener('keyup', (event) => {
      newUser.innerText = event.target.value
    })

    socket.on('message', (...message) => {
      const messages = message;
      const messagesDiv = document.getElementById('messages')
      message.forEach((message) => {
        const li = document.createElement('li');
        li.setAttribute('data-testid', 'message')
        li.textContent = `${message}`;
        messagesDiv.appendChild(li);
      })
    });

    socket.on('connect', () => {
      const messageAuthor = document.getElementById('nickname');
      messageAuthor.value = makeid(16);
      newUser.innerText = messageAuthor.value
    });

  </script>
</body>

</html>