<!DOCTYPE html>
<html lang="en">
  <head>
    <title> MSNC - Mas Só Nos Computer </title>
  </head>
  <body>
    <div class="formDiv">
      <div>Online users:
        <ul class="usersOn"></ul>
      <form action="" class="userForm">
        <input
        data-testid="nickname-box"
        class="nickname-box"
        type="text"
        placeholder="Altere seu nick..."
        autocomplete="off"
        />
        <button data-testid="nickname-button" class="nickname-button">
          Alterar
        </button>
      </form>
    </div>
      <ul class="usersOn"></ul>
    </div>
    <div class="messageDiv">
        <form action="">
          <input
          data-testid="message-box"
          class="message-box"
          type="text"
          placeholder="Mensagem"
          autocomplete="off"
          />
          <button data-testid="send-button" class="send-button">
            Enviar
          </button>
          <div class="ulDivMessages">>
            <ul class="messages">
              <% messages.forEach((msg) => { %>
              <li data-testid="message">
                <%= msg %>
              </li> <%}) %>
            </ul>
        </form>
      </div>
    </div>
    <script src="./socket.io/socket.io.js"></script>
    <script src="./scripts/chat.js"></script>
  </body>
</html>
