main {
  height: 600px;
  width: 800px;
}

.chat-container {
  display: flex;
  flex-direction: row;
  height: 90%;
  width: 100%;
}

.left-container {
  height: 100%;
  width: 40%;
}

.user-nick-form {
  height: 10%;
}

.user-nick-form input {
  height: 80%;
  width: 80%;
}

.user-nick-form button {
  height: 80%;
}

.online-users {
  height: 90%;
  width: 100%;
}

.right-container {
  height: 100%;
  width: 60%;
}

.right-container ul {
  list-style-type: none;
}

.message-form {
  height: 10%;
}

.message-form input {
  height: 80%;
  width: 92.5%;
}

.message-form button {
  height: 80%;
}
